In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [4]:
def showCol():
    print("train df:", )
    print(train_df.keys())
    print('-'.center(10, '-'))
    print('test df:')
    print(test_df.keys())

def dataType():
    print("train df:", )
    type_counts = {
        'int64' : 0,
        'float64' : 0,
        'object' : 0
    }

    a = train_df.dtypes
    for dtype in a:
            if np.issubdtype(dtype, np.integer):
                type_counts['int64'] += 1
            elif np.issubdtype(dtype, np.floating):
                type_counts['float64'] += 1
            elif np.issubdtype(dtype, np.object_):
                type_counts['object'] += 1

    for key, val in type_counts.items():
        print(f'{key} : {val}')
    print('Total:', sum(type_counts.values()))

    print('-'.center(30, '-'))
    
    print("test df:", )
    type_counts = {
        'int64' : 0,
        'float64' : 0,
        'object' : 0
    }

    a = test_df.dtypes
    for dtype in a:
            if np.issubdtype(dtype, np.integer):
                type_counts['int64'] += 1
            elif np.issubdtype(dtype, np.floating):
                type_counts['float64'] += 1
            elif np.issubdtype(dtype, np.object_):
                type_counts['object'] += 1

    for key, val in type_counts.items():
        print(f'{key} : {val}')
    print('Total:', sum(type_counts.values()))


# showCol()
dataType()

train df:
int64 : 35
float64 : 3
object : 43
Total: 81
------------------------------
test df:
int64 : 26
float64 : 11
object : 43
Total: 80

In [5]:

train_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [6]:
test_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [7]:
def checkNA():
    x = train_df.columns[train_df.isnull().any()].tolist()
    print('train df :', len(x))
    print(x)
    print()
    x = test_df.columns[test_df.isnull().any()].tolist()
    print('test :', len(x))
    print(x)
checkNA()

train df : 19
['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

test : 33
['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType']

In [8]:
"""in train_df
1. find the columns has numerical values and convert them into their meaning
2. convert the object into LabelEncoder
"""

'in train_df\n1. find the columns has numerical values and convert them into their meaning\n2. convert the object into LabelEncoder\n'

In [9]:
from sklearn.preprocessing import LabelEncoder


# Iterate through each column in the DataFrame
for col in train_df.columns:
    if train_df[col].dtype == 'object':  # Check if the column is categorical
        if train_df[col].isnull().any():  # Check if the column has NaN values
            temp_encoder = LabelEncoder()
            temp_encoder.fit(train_df[col].dropna())  # Fit only on non-NaN values
            temp_median = pd.Series(temp_encoder.transform(train_df[col].dropna())).median()
            # Replace NaN with the median label
            train_df[col] = train_df[col].fillna(temp_encoder.classes_[int(temp_median)])
        
        # Final encoding of the column
        encoder = LabelEncoder()
        train_df[col] = encoder.fit_transform(train_df[col])
    else:  # If the column is numeric
        if train_df[col].isnull().any():
            train_df[col] = train_df[col].fillna(train_df[col].median())  # Replace NaN with median



for col in test_df.columns:
    if test_df[col].dtype == 'object':  # Check if the column is categorical
        if test_df[col].isnull().any():  # Check if the column has NaN values
            temp_encoder = LabelEncoder()
            temp_encoder.fit(test_df[col].dropna())  # Fit only on non-NaN values
            temp_median = pd.Series(temp_encoder.transform(test_df[col].dropna())).median()
            # Replace NaN with the median label
            test_df[col] = test_df[col].fillna(temp_encoder.classes_[int(temp_median)])
        
        # Final encoding of the column
        encoder = LabelEncoder()
        test_df[col] = encoder.fit_transform(test_df[col])
    else:  # If the column is numeric
        if test_df[col].isnull().any():
            test_df[col] = test_df[col].fillna(test_df[col].median())  # Replace NaN with median

In [10]:
checkNA()

train df : 0
[]

test : 0
[]

In [11]:
dataType()

train df:
int64 : 78
float64 : 3
object : 0
Total: 81
------------------------------
test df:
int64 : 69
float64 : 11
object : 0
Total: 80

In [35]:
x_train = train_df.copy()
x_test = test_df.copy()

In [36]:
y_train = x_train['SalePrice']
x_train = x_train.drop(labels=['Id', 'SalePrice'], axis=1)

In [37]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()
rfr.fit(x_train, y_train)
prediction = rfr.predict(x_test.drop('Id', axis=1))
# from sklearn.model_selection import GridSearchCV

# param_grid = {
#     'n_estimators': [100, 200, 300],
#     'max_depth': [10, 20, 30, None],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4],
# }

# grid_search = GridSearchCV(RandomForestRegressor(), param_grid, cv=5)
# grid_search.fit(x_train, y_train)
# print("Best parameters:", grid_search.best_params_)

# best_rfr = grid_search.best_estimator_
# prediction = best_rfr.predict(x_test.drop('Id', axis=1))

Best parameters: {'max_depth': 30, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 100}

In [38]:
from pandas import DataFrame

df = DataFrame (
    {
        'Id' : x_test['Id'],
        'SalePrice' : prediction
    }
)

df.to_csv('submission.csv', index=False)

In [34]:
# test accuracy
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.2)

rfr = RandomForestRegressor()
rfr.fit(x_train, y_train)
prediction = rfr.predict(x_valid)

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score


# Metrics
mse = mean_squared_error(y_valid, prediction)
mae = mean_absolute_error(y_valid, prediction)
r2 = r2_score(y_valid, prediction)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R² Score: {r2}")

Mean Squared Error (MSE): 900776482.3007407
Mean Absolute Error (MAE): 18310.633458904107
R² Score: 0.878427337086921